html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid red;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.main-header {
   margin: 0;
  padding: 0;
  border: 1px solid red;

}

main{
   margin: 0;
  padding: 0;
  border: 1px solid red;
}

.cv-footer {
   margin: 0;
  padding: 0;
  border: 1px solid red;
}

